<% include partials/header %>

<h2>Ajouter une recette</h2>

<form method="post" action="/api/add-recipe">
    <input type="text" name="title">
    <textarea name="content" cols="30" rows="10"></textarea>
    <textarea name="ingredients" cols="30" rows="10"></textarea>
    <button type="submit">Ajouter</button>
</form>

<% include partials/footer %>